* {
  box-sizing: border-box;
  color: #be0451c9;
}
/* ffe1f0 */
body {
  background-image: linear-gradient(#4b1e2d, #834a66, #fbd1e6);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
  border: 1px solid papayawhip;
  box-shadow: 1px 4px 6px 4px #fff;
  background-color: rgb(3, 46, 66);
  justify-content: center;
  align-items: center;
}
aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #fff;
}
button {
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}
main {
  flex: 1;
  padding: 10px 20px;
}
h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}

h3 {
  background-color: #fff;
  border-bottom: 1px solid #c29dacc9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}
.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
h1 {
  color: rgb(250, 212, 212);
}
